@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800;
  background-image: theme('backgroundImage.islamic-pattern');
}

/* Glassmorphism Card Effect */
.glass-panel {
  @apply bg-white/90 backdrop-blur-md border border-white/20 shadow-3d;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-roller-blue rounded-full;
}
